@import "@styles/base/_typography.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/abstracts/_colors.module.scss";

.box {
    @include flex-container(row, nowrap, flex-start, center);
    overflow: auto; 
    width: 100%;
      
    .button {
        position: fixed;
        margin: clamp(60vw, 450px, 100vw);
    }
}

.card {
    padding-right: 32px;
}

.fade {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0) 100%);
}