@import "@styles/base/_typography.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/abstracts/_colors.module.scss";


#main {

    overflow-y: scroll;

    .horizontalContainer {
        @include flex-container(row, nowrap, flex-start, center);
        gap: 16px;
        width: 100%;
    }

}