@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.module.scss";


.grid {

    @include reset-list;
    width: 100%;
    flex: 1;
    padding-bottom: 32px;

    // setup the grid layout for the cards

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row dense;
    grid-gap: 1rem;

    @media (min-width: $bp-md) {

        // make every card which index is divisible by 3 to span 2 columns

        li.card:nth-child(5n), li.card:first-child {
            grid-column: span 2;
        }
    }

    @media (max-width: 860px) and (min-width: $bp-md) {

        // fix the overflow issue on large tablets

        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    @media (max-width: $bp-md) {

        // fix the display in mobile we need to pass it in a flex container not grid

        @include flex-container(column, nowrap, flex-start, center);
    }


}

ul.grid li.card {
    width: 100% !important;
    min-height: 250px;
}