@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/abstracts/_colors.module.scss";

.dialog {
    background: $white;
    height: fit-content;
    width: clamp(50%, 600px, 100vw);
    border: none;
    border-radius: 16px;
    padding: 16px;
    max-width: 600px;

    @include spread-shadow($black, 0.1);

    &.large {
        max-width: 800px;
    }

    &.fullWidth {
        max-width: 100%;
    }

    &.fullHeight {
        height: 100%;
    }
    
    &.dark {
        background: $bg-black;
    }

    .header {
        display: flex;
        justify-content: flex-start;
        font-size: 25px;

        &.btnRight {
            justify-content: flex-end;
        }
    }
}
