@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.module.scss";

.container {
	@include flex-container(column, nowrap, center, center);
	padding-top: 32px;
	width: 100%;
	gap: 32px;
	
	@media (max-width: $bp-sm) {
		gap: 16px;
	}

	.image {
		width: clamp(300px, 60%, 80vw);
	}
}
  
