@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.module.scss";

.container {
    border-radius: 8px;
    padding: 16px;

    transition: all 0.2s ease-in-out;

    &.list {

        @include flex-container(row, nowrap, center, center);
        height: 100px;

        &:not(.isLast) {
            border-radius: 8px 8px 0px 0px;
            border-bottom: 1px solid $primary-100;
        }

        .image {
            @include flex-container(row, nowrap, center, center);
            width: 80px;
            height: 100%;
            border-radius: 8px;
            padding-left: 16px;
        }

        .mainHeader {
            width: 100%;
            padding-left: 16px;

            .title {

                @include flex-container(column-reverse, nowrap, center, flex-start);
                align-self: stretch;
                gap: 4px;
                text-transform: uppercase;

                .city {
                    @include text-xs-bold;
                    letter-spacing: 0.6rem;
                    color: $black-400;
                }
        
                .name {
                    @include text-sm-regular;
                    letter-spacing: 0.6rem;
                    color: $primary;
                }

            }

            

            .subHeader {
                width: 100% !important;
                @include flex-container(row, nowrap, space-between, center);
                color: $gold;
            }
        }

        .containerIcon {
            @include flex-container(row, nowrap, center, center);
            width: 50px;
            height: 50%;
            background-color: $error-100;
            border-radius: 50%;
        }

        .icon {
            width: 14px;
            height: 14px;
            color: $error;
        }

        &:hover {
            cursor: pointer;
            background: rgba($black, 0.05);
        }
    }

    &.card {
        
        box-shadow: 0px 20px 60px #00000033;

        @include flex-container(row, nowrap, center, flex-end);

        @media (max-width: $bp-md) {
            width: 60%;
            height: 200px;
        }

        @media (min-width: $bp-md) {
            width: 400px;
            height: 300px;
        }

        .mainHeader {
            width: 100%;

            .title {

                @include flex-container(column, nowrap, flex-end, flex-start);
                align-self: stretch;
                gap: 4px;

                .city, .name {
                    text-transform: uppercase;
                }
            
                .city {
                    @include text-xs-bold;
                    letter-spacing: 0.6rem;
                    color: $white-800;
                }
        
                .name {
                    @include text-sm-regular;
                    letter-spacing: 0.6rem;
                    color: $white;
                }

            }
    
            .subHeader {
                width: 100% !important;
                @include text-sm-regular;
                @include flex-container(row, nowrap, space-between, center);
                color: $gold;
            }
        }

        &:hover {
            cursor: pointer;
            transform: scale(0.98);
        }
    }
}

