@import "@styles/base/_reset.scss";
@import "@styles/abstracts/_colors.module.scss";

.score {
    display: block;
    font-size: 14px;
    position: relative;
    overflow: hidden;

  .scoreWrap {
      display: inline-block;
      position: relative;   
    
    .starsActive {
      color: $gold;
      position: relative;
      z-index: 10;
      display: flex;
      gap: 8px;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .starsInactive {
      color: $gold;
      position: absolute;
      display: flex;
      gap: 8px;
      top: 0;
      left: 0;
      -webkit-text-stroke: initial;
    }
  }
}