@import "@styles/base/_reset.scss";
@import "@styles/abstracts/_colors.module.scss";

.score {
	display: block;
	font-size: 14px;
	position: relative;

	.scoreWrap {
		display: inline-block;
		position: relative;   
		display: flex;
		gap: 8px;

		.starContainer {
			position: relative;
			display: inline-block;

			.starActive {
			color: $gold;
			position: absolute;
			z-index: 10;
			left: 0;
			overflow: hidden;
			}
			
			.starInactive {
			color: $gold;
			position: relative;
			-webkit-text-stroke: initial;
			}
		}
	}
}