@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";


.toast {
    @include flex-container(row, nowrap, center, center);
    gap: 8px;
    position: fixed;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    box-shadow: 0px 30px 60px 0px $black-200;
    z-index: 1000; 

    padding: 16px;
    border-radius: 8px;

    background: $white;

    .icon {
        @include flex-container(row, nowrap, center, center);
        gap: 8px;
        padding: 8px;
        background: $primary-200;

        border-radius: 50%;

        svg {
            height: 14px;
            width: 14px;
            fill: $black;
        }
    }

    span {
        @include text-sm-regular;
        color: $primary;
        white-space: nowrap;
    }

    &.error {

        .icon {
            background: $error-200;

            svg {
                color: $error;
            }
        }

        span {
            color: $error;
        }

    }

    &.info {
            
        .icon {
            background: $blue-200;

            svg {
                color: $blue;
            }
        }

        span {
            color: $blue;
        }
    
    }
}