@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.module.scss";


.modal {

    .searchBar {

        width: calc(100% + 32px);
        margin-left: -16px;
        margin-top: -16px;
        height: fit-content;
        padding: 20px 16px;
    }

    .buttonsContainer {

        @include flex-container(row, nowrap, center, center);
        gap: 16px;
    
        @media (max-width: $bp-sm) {
            @include flex-container(column-reverse, nowrap, center, center);
            gap: 8px;
        }
    }

    @media (max-width: $bp-sm) {
        max-height: 80vh;
        bottom: 0;	
    }

}