@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.module.scss";
@import "@styles/components/button.module.scss";

.modal {
    background-color: $black;
    color: $white;
    overflow-x: auto;
    max-height: 80vh;
    gap: 0;

    @media (max-width: $bp-sm) {
        height: 100%;
        max-height: none;
        border-radius: 0;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .detailsView {
        padding: 0 16px 32px 16px;
        border-radius: 0 0 16px 16px;
        @include flex-container(column, nowrap);
        gap: 16px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 16px;
            @include flex-container(row, wrap);
        
            .tag {
                color: $white;
                background-color: $bg-black;
                border-radius: 8px;
                padding: 16px;
                width: fit-content;
                font-size: 14px;
            }
        }

        .description {
            h3 {
                @include typo-maker(16px, 700);
                letter-spacing: 3.2px;
                margin-bottom: 16px;
            }

            p {
                @include typo-maker(14px, 500);
                color: $white-600;
            }
        }

        .actionIcons {
            @include flex-container(row, nowrap, flex-end);
            gap: 16px;

            .lighterBg {
                background: $bg-black;
            }
        }
    }

    .swipeButtons {
        @include flex-container(row, nowrap, center, center);
        gap: 10px;
        margin: 16px 32px;
        height: 10px;        

        .swipeButton {
            background: $white-200 !important;
            padding: 2px;
            width: 100%;
            max-width: 50px;

            &.isActive {
                background: $white !important;
            }
        }
    }
}

.header {        
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px 16px 16px;
    position: sticky;
    top: 0;
    z-index: 1;

    height: 100%;

    @media (min-width: $bp-sm) {
        border-radius: 16px 16px 0 0;
        height: fit-content;
    }


    .closeBtn {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    .headerContent {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        
        .actionIcons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 16px;
        }
    }

    .body {
        @include flex-container(column, nowrap);
        color: $white;
        gap: 4px;

        h1 {
            @include typo-maker($h3-font-size, $font-weight-regular);
            text-transform: uppercase;
            letter-spacing: 4.8px;
        }

        h3 {
            @include typo-maker($text-md-font-size, $font-weight-bold);
            text-transform: uppercase;
            letter-spacing: 6.4px;
        }

        p{
            @include typo-maker($text-md-font-size, $font-weight-regular);
            color: $white-600;
        }

        .distanceRating {
            @include flex-container(row, nowrap, flex-start, center);
            gap: 16px;

            p {
                color: $gold;
            }
        }
    }

    .actionButtons {
        padding-top: 16px;
        width: 100%;
        gap: 16px;
        @include flex-container(column, nowrap, center, center);
    }
}

.mapLink {

    @extend .active;
    @extend .dark;
    @extend .primary;
    @extend .fullWidth;
    @extend .button;
}