@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";

@mixin thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: $white;
    cursor: ew-resize;
    box-shadow: 0 4px 30px $black-400;
    transition: all .3s ease-in-out;
}


input[type="range"].input {
    -webkit-appearance: none;
    appearance: none;

    background: $secondary-100;
    background-image: linear-gradient($secondary, $secondary);
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    border-radius: 8px;
    height: 8px;

    // change thumb appearance

    &::-webkit-slider-thumb {
        @include thumb;
    }

    &::-moz-range-thumb {
        @include thumb;
    }

    &::-ms-thumb {
        @include thumb;
    }


    // hide default slider track

    &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track  {
        -webkit-appearance: none;
        appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }



}