@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/abstracts/_colors.module.scss";

.backdrop {

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $black-400;

    backdrop-filter: blur(10px);

    @include flex-container(column, nowrap, center, center);

}