
@import "~@fontsource/raleway/300.css";
@import "~@fontsource/raleway/400.css";
@import "~@fontsource/raleway/500.css";
@import "~@fontsource/raleway/600.css";
@import "~@fontsource/raleway/700.css";
@import "~@fontsource/raleway/800.css";


@import "~@fontsource/playfair-display/400.css";
@import "~@fontsource/playfair-display/500.css";
@import "~@fontsource/playfair-display/600.css";
@import "~@fontsource/playfair-display/700.css";
@import "~@fontsource/playfair-display/800.css";


@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.module.scss";

// rem trick

html {
	font-size: 62.5%;
	background: $white;
	font-family: 'Raleway', sans-serif;
	color: $primary;
}

body {
	font-size: 1.6rem;
}

html, body, div#__next {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	// width: fit-content;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}


* {
	box-sizing: border-box;
}

@import "@styles/base/_mixins.scss";

div#__next {

	@include flex-container(column, nowrap, center, stretch);
	
	padding-bottom: 60px;

	& > main {
		margin-top: 16px;
		flex: 1;

		@include flex-container(column, nowrap, flex-start, flex-start);
    	gap: 32px;

		padding: 0 $side-padding-sm;

		@media (min-width: $bp-md) {
			padding: 0 $side-padding-md 0 calc($side-padding-md + 230px + 16px);
		}
	}
}
